@page "/Mantenimientos"
@using Radzen;
@using Radzen.Blazor;
@using System.Collections.Generic;
@using System.Reflection;
@using System.ComponentModel.DataAnnotations;
@inject IMantenimientoService Service
@inject IJSRuntime js

@inject NavigationManager NavigationManager;
@*@attribute [Authorize(Roles = "Admin")]*@
@attribute [Authorize(Roles = "Admin")]
@*@attribute [Authorize]*@

<link href="/css/alerts.css" rel="stylesheet" />

<style>
    .rightContainer {
        text-align: right;
    }

    .cancelbuttonpink {
        background-color: #f27c7c;
        color: white;
    }

    .savebuttongreen {
        background-color: #5bb154;
        color: white;
    }

    .grayText {
        color: #aaa8a8;
    }

    .blueText {
        color: #18445b;
        vertical-align: central;
    }

    .iconStep {
        width: 40px;
        height: 40px;
    }
</style>

<div class="container-fluid ">

    <section id="basic-form-layouts">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="card-text">
                                <h1>Lista de mantenimientos</h1>
                            </div>

                            <div class="d-flex justify-content-between">
                                <div>
                                    <div class="d-flex justify-content-start">

                                        <div class="mr-3">
                                            @*<input placeholder="No. Reservación" @onchange="onChangeReservationNumber" class="form-control" />*@
                                        </div>

                                        <div class="mr-3">
                                            @*<input placeholder="Nombre" @onchange="onChangeName" class="form-control" />*@
                                        </div>

                                        <div class="mr-3">
                                            @*<input type="date" value="@InitialState.ToString("yyyy-MM-dd")" @onchange="onChangeInitDate" class="form-control" />*@
                                        </div>

                                        <div class="mr-3">
                                            @*<input type="date" value="@FinalState.ToString("yyyy-MM-dd")" @onchange="onChangeFinalDate" class="form-control" />*@
                                        </div>
                                        <div class="mr-3"></div>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <div>
                                            <div>
                                                <button  class="form-control" @onclick="Crear">Crear</button>
                                            </div>
                                            <input placeholder="Buscar" @onchange="onChangeSearch" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
</div>

@if (EquiposList == null)
{
        <p><em>Loading...</em></p>
}
else
{
        <EditForm Model="@EquiposList">
            <DataAnnotationsValidator />
            <div class="container-fluid ">
                <section id="basic-form-layouts">
                    <div class="row match-height mt-3">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-content collapse show">
                                    <div class="card-body">
                                        <RadzenDataGrid @ref="grid" Data="@EquiposList" TItem="Mantenimiento" AllowPaging="true" PageSize="10">
                                            <Columns>

                                                                                                <RadzenDataGridColumn TItem="Mantenimiento" Title="ID" TextAlign="TextAlign.Center">
                                                    <Template Context="Item">
                                                        <label>@Item.Id</label>
                                                    </Template>
                                                </RadzenDataGridColumn>

                                            <RadzenDataGridColumn TItem="Mantenimiento" Title="Nombre equipo" TextAlign="TextAlign.Center">
                                                <Template Context="Item">
                                                    <label>@Item.EquipoMedico.NombreDelEquipo</label>
                                                </Template>
                                            </RadzenDataGridColumn>
                                                <RadzenDataGridColumn TItem="Mantenimiento" Title="Tipo de mantenimiento" TextAlign="TextAlign.Center">
                                                    <Template Context="Item">
                                                        <label>@Item.TipoDeMtto</label>
                                                    </Template>
                                                </RadzenDataGridColumn>

                                                <RadzenDataGridColumn TItem="Mantenimiento" Title="Observaciones" TextAlign="TextAlign.Center">
                                                    <Template Context="Item">
                                                        <label>@Item.Observaciones</label>
                                                    </Template>
                                                </RadzenDataGridColumn>

                                                <RadzenDataGridColumn TItem="Mantenimiento" Title="Responsable" TextAlign="TextAlign.Center">
                                                    <Template Context="Item">
                                                        <label>@Item.Responsable</label>
                                                    </Template>
                                                </RadzenDataGridColumn>

                                                <RadzenDataGridColumn TItem="Mantenimiento" Title="Fecha" TextAlign="TextAlign.Center">
                                                    <Template Context="Item">
                                                        <label>@Item.FechaDeMtto</label>
                                                    </Template>
                                                </RadzenDataGridColumn>

 @*                                               <RadzenDataGridColumn TItem="Mantenimiento" Title="ID EquipoMedico" TextAlign="TextAlign.Center">
                                                    <Template Context="Item">
                                                        <label>@Item.EquipoMedicoId</label>
                                                    </Template>
                                                </RadzenDataGridColumn>*@

                                            @*  <RadzenDataGridColumn TItem="LasPalomas.Domain.Entities.Reserva" Title="Check-In" TextAlign="TextAlign.Center">
                                                <Template Context="Item">
                                                    <label>@Item.ArrivalDate.ToString("dd/MM/yyyy tt")</label>
                                                </Template>
                                            </RadzenDataGridColumn>*@


                                                <RadzenDataGridColumn TItem="Mantenimiento" Title="Acciones" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                                                    <Template Context="DynamicText">
                                                        <RadzenSplitButton Icon="settings">
                                                            <ChildContent>
                                                                <RadzenSplitButtonItem Text="Ver" @onclick="()=>Ver(DynamicText)"></RadzenSplitButtonItem>
                                                                <RadzenSplitButtonItem Text="Editar" @onclick="()=>Edit(DynamicText)"></RadzenSplitButtonItem>
                                                                <RadzenSplitButtonItem Text="Eliminar" @onclick="()=>Delete(DynamicText)"></RadzenSplitButtonItem>
                                                            </ChildContent>

                                                        </RadzenSplitButton>
                                                    </Template>
                                                </RadzenDataGridColumn>
                                            </Columns>
                                        </RadzenDataGrid>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </EditForm>
}

@code {
    RadzenDataGrid<Domain.Entities.Mantenimiento> grid;

    private List<Mantenimiento> EquiposList = new List<Mantenimiento>();
    private List<Mantenimiento> EquiposList2 = new List<Mantenimiento>();
    private Mantenimiento EquipoInput = new Mantenimiento();

    private string search = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var response = await Service.Get();
        if (!response.Success)
        {
            return;
        }
        List<Mantenimiento> dto = JsonObjectToDto<List<Mantenimiento>>.GetDTO(response.Result);
        EquiposList = dto;
        EquiposList2 = dto;
    }
    void Ver(Mantenimiento dto)
    {
        NavigationManager.NavigateTo($"/detalleMantenimiento/{dto.Id}", true);
    }
    void Edit(Mantenimiento dto)
    {
        NavigationManager.NavigateTo($"/editarMantenimiento/{dto.Id}", true);
    }
    async void Delete(Mantenimiento dto)
    {
        var obj = await js.QuestionAlert("Atención", $"¿Estas seguro de eliminar el campo?");
        if (obj == null)
        {
            return;
        }
        var response = await Service.Delete(dto.Id);
        if (!response.Success)
        {
            await js.ShowAlert("Atención", response.Errors.MessageSpanish);
            return;
        }
        else
        {
            await js.ShowAlert("Atención", response.Message.MessageSpanish);
            NavigationManager.NavigateTo($"/Mantenimientos", true);
        }
    }
    void Crear()
    {
        NavigationManager.NavigateTo($"/CrearMantenimiento", true);
    }

    private void onChangeSearch(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        if (EquiposList == null || EquiposList2 == null)
            return;
        try
        {
            search = (string)args.Value;
            if (!string.IsNullOrEmpty(search))
            {
                EquiposList = EquiposList2.FindAll(x => x.TipoDeMtto.ToUpper().Contains(search.ToUpper())
                || x.Observaciones.ToUpper().Contains(search.ToUpper())
                || x.Responsable.ToUpper().Contains(search.ToUpper())
                //|| x..ToUpper().Contains(search.ToUpper())
                );
            }
            else
            {
                EquiposList = EquiposList2;
            }
        }
        catch
        {

        }

    }




}

